*.hex
*.pyc
.vscode/.ropeproject/
asm/
*.sch-bak
*.kicad_pcb-bak
Arduino/EepromProgrammer/output/

Acme/

Logic Analyser/

Oscilloscope/

VirtualCR001/fake6502
VirtualCR001/virtual_cr001
*.exe
*.breakpoints
*.debug
*~
Arduino/.vscode/

Arduino/VideoSignal/.vscode/

PixelArt/bytes.asc

AsmNG/as6502

AsmNG/generated/

AsmNG/testfile

AsmNG/testfile.asm

AsmNG/testfile2.asm

GameCodeNG/gamecode.asm

Arduino/ArduinoISP/

GameCodeNG/generated/

*.o
